footer {
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
    width: 100%;
    color: #FFF;
    padding: 32px;
    position: fixed;
    bottom:0;
    z-index: -1;
    scroll-snap-align: start;
}